/* Error: Undefined mixin.
 *   ,
 * 4 |         @include containerGlass($pstn:absolute,$w:90%, $h:25%,$r:0,$b:0,$mr:5% !important, $mb:5% !important);
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\section5.scss 4:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 4 \2502          @include containerGlass($pstn:absolute,$w:90%, $h:25%,$r:0,$b:0,$mr:5% !important, $mb:5% !important);\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\section5.scss 4:9  root stylesheet";
}
